
.bp-element-video-box {
	&.marketing-layout-1 {
		.wrap-element {
			padding-right: 12.5%;
			position: relative;
			z-index: 0;
			&::before {
				content: '';
				display: block;
				width: 87.5%;
				height: 100%;
				position: absolute;
				z-index: -1;
				right: 0;
				top: 10.8%;
				border-radius: 5px;
				@include bg-gradient-angle(-150deg, #d5dbff, #8f9eff);
				opacity: .1;
			}
			img {
				width: 100%;
				box-shadow: 13px 15px 15px 0px rgba(105,105,105,0.08);
				border-radius: 5px;
			}
			.overlay {
				width: 87.5%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				.btn-play {
					font-size: 35px;
					line-height: 1;
					color: #7856ff;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 77px;
					height: 77px;
					border-radius: 50%;
					background: #fff;
					padding-left: 3px;
					transition: all .2s;
					&:hover {
						background: #7856ff;
						color: #fff;
					}
				}
			}
		}
	}
}