
.portfolio-detail {
	padding-top: 130px;
	padding-bottom: 65px;
	[class*='col-']:nth-child(1) {
		margin-top: -97px;
	}
	.image-portfolio {
		img {
			width: 100%;
		}
	}
	.info-portfolio {
		padding: 33px 20px 33px 35px;
		background: #fff;
		.title-info {
			font-weight: 600;
			font-size: 20px;
			line-height: 1.5;
			color: #ffbc42;
			padding-top: 0;
			margin-bottom: 25px;
		}
		.list-info {
			list-style-type: none;
			margin: 0;
			.item-info {
				font-weight: 300;
				font-size: 16px;
				line-height: 1.75;
				color: #828282;
				word-break: break-word;
				margin-bottom: 25px;
				&:last-child {
					margin-bottom: 0;
				}
				.name-item {
					display: block;
					font-weight: 400;
					color: #2a2a2a;
				}
				&.share-item {
					.name-item {
						display: inline;
						margin-right: 15px;
					}
					.link-share {
						.item-social {
							font-size: 14px;
							margin-right: 15px;
							transition: all .2s;
							&:hover {
								color: #ffbc42 !important;
							}
						}
					}
				}
			}
		}
	}
	.content-portfolio {
		padding: 33px 0;
		h3 {
			font-weight: 600;
			font-size: 26px;
			line-height: 1.4;
			color: #2a2a2a;
			word-break: break-word;
			margin-bottom: 25px;
		}
		p {
			font-weight: 300;
			font-size: 16px;
			line-height: 1.75;
			color: #828282;
			word-break: break-word;
			margin-bottom: 28px;
		}
		ul {
			list-style-type: none;
			margin: 0;
			column-count: 2;
			li {
				font-weight: 300;
				font-size: 16px;
				line-height: 1.75;
				color: #828282;
				word-break: break-word;
				padding-left: 28px;
				position: relative;
				margin-bottom: 6px;
				&::before {
					content: '\f375';
					font-family: Ionicons;
					color: #ffbc42;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
}

.related-portfolio {
	padding-bottom: 111px;
	.related-title {
		font-weight: 600;
		font-size: 36px;
		line-height: 1.2;
		color: #2a2a2a;
		word-break: break-word;
		padding-right: 110px;
		margin-bottom: 50px;
	}
	.slide-portfolio {
		position: relative;
		.slide-slick {
			overflow: hidden;
			.slick-list {
				margin-right: -20px;
				margin-left: -20px;
				.slick-track {
					margin-left: 0;
				}
			}
			.item-slick {
				padding: 0 20px;
			}
		}
		.wrap-arrow-slick {
			pointer-events: none;
			position: absolute;
			z-index: 1;
			top: -94px;
			right: 0px;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			margin: 0 -4px;
			.arow-slick {
				pointer-events: auto;
				cursor: pointer;
				font-size: 25px;
				line-height: 1;
				color: #7d7d7d;
				background: transparent;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 40px;
				height: 40px;
				border: 1px solid #ebebeb;
				border-radius: 50%;
				transition: all .2s;
				margin: 0 4px;
				&:hover {
					color: #fff;
					border-color: #ffbc42;
					background: #ffbc42;
				}
				&.slick-arrow.slick-hidden {
					display: none;
				}
				&[aria-disabled="true"] {
					visibility: hidden;
				}
			}
		}
	}

	.item-portfolio {
		.image-portfolio {
			border-radius: 5px;
			overflow: hidden;
			position: relative;
			z-index: 0;
			margin-bottom: 33px;
			img {
				width: 100%;
				border-radius: inherit;
			}
			.overlay-image {
				font-size: 45px;
				line-height: 1;
				color: #fff;
				display: flex;
				justify-content: center;
				align-items: center;
				border-radius: inherit;
				width: 100%;
				height: 100%;
				position: absolute;
				z-index: 1;
				top: 0;
				left: 0;
				@include bg-gradient-angle(-140deg, #ab7ee4, #124ee8);
				transition: all .2s;
				opacity: 0;
				i {
					transition: all .2s;
					transform: scale(0);
				}
			}
			&:hover {
				.overlay-image {
					opacity: .6;
					i {
						transform: scale(1);
					}
				}
			}
		}
		.text-portfolio {
			text-align: center;
			.title-portfolio {
				font-weight: 500;
				font-size: 20px;
				line-height: 1.5;
				color: #2a2a2a;
				word-break: break-word;
				padding-top: 0;
				margin-bottom: 4px;
				a {
					color: inherit;
					transition: all .2s;
					&:hover {
						color: #ffbc42;
					}
				}
			}
			.cat-portfolio {
				font-weight: 300;
				font-size: 16px;
				line-height: 1.75;
				color: #828282;
				word-break: break-word;
				a {
					color: inherit;
					transition: all .2s;
					&:hover {
						color: #ffbc42;
					}
				}
			}
		}
	}
}

.responsive {
	@media (max-width: 767px) {
		.portfolio-detail {
			[class*='col-']:nth-child(1) {
				margin-top: 0px;
			}
			.content-portfolio {
				ul {
					column-count: 1;
				}
			}
		}
	}

	@media (max-width: 575px) {
		.related-portfolio {
			.related-title {
				padding-right: 0px;
				margin-bottom: 70px;
			}
			.slide-portfolio {
				.wrap-arrow-slick {
					top: -60px;
					right: auto;
					left: 0;
				}
			}
		}
	}
}