
.bp-element-tabs {
	&.marketing-layout-slider {
		.thim-wrap-tabs {
			.wrap-arrows-tabs {
				margin: 0 -3px 18px -3px;
				.arrow-tabs {
					font-size: 22px;
					color: #fff;
					line-height: 1;
					display: inline-flex;
					justify-content: center;
					align-items: center;
					width: 45px;
					height: 45px;
					border-radius: 50%;
					background: rgba(182, 178, 206, .25);
					margin: 0 3px;
					position: relative;
					z-index: 0;
					&::before {
						content: '';
						display: block;
						width: 100%;
						height: 100%;
						border-radius: inherit;
						position: absolute;
						z-index: -1;
						top: 0;
						left: 0;
						transition: all .2s;
						opacity: 0;
					}
					&.next-arrow::before {
						@include bg-gradient-horizontal(#ffc500,#ff6e00);
					}
					&.prev-arrow::before {
						@include bg-gradient-horizontal(#ff6e00,#ffc500);
					}
					&:hover:before {
						opacity: 1;
					}
				}
			}
			.thim-nav-tabs {
				list-style-type: none;
				display: flex;
				flex-wrap: wrap;
				margin: 0 -20px;
				.item-nav {
					font-weight: 500;
					font-size: 18px;
					line-height: 1.5;
					color: #b6b2ce;
					cursor: pointer;
					transition: all .2s;
					margin: 5px 20px;
					&.active {
						color: #ff7d00;
					}
					&:hover {
						color: #ff7d00;
					}
				}
			}
			.thim-content-tabs {
				.tab-panel {
					padding: 20px 0;
					p {
						font-weight: 300;
						font-size: 16px;
						line-height: 1.75;
						color: #d0cdef;
						word-break: break-word;
						margin-bottom: 28px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
		}
	}
}