
$primary-color: #ffbc42;
$primary2-color: #124ee8;
$primary3-color: #ab7ee4;

$header-background-color: transparent;
$main-menu-color: #fff;
$main-menu-hover-color: #ffbc42;
$sticky-menu-background-color: transparent;
$sticky-menu-text-color: #fff;
$sticky-menu-text-color-hover: #ffbc42;
$sub-menu-background-color: #fff;
$sub-menu-text-color: #124ee8;
$sub-menu-text-color-hover:#ffbc42;
$font-topbar-color: #edebff;
$topbar-background-color: transparent;

$footer-background-color: transparent;
$footer-color-title:#ffffff;
$footer-color-text:#edebff;
$footer-color-link:#edebff;
$footer-color-hover:#ffbc42;